@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
      font-family: 'Iosevka';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(/public/iosevka.ttc) format('ttc');
    }
}
:root {
    width: 100vh;
    overflow: hidden;
}